/* ...font... */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@400;500&family=Poppins:wght@500&family=Work+Sans:wght@400;500&display=swap');

/*   Body Style */

body {
    background: #FFFFFF;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: bisque;
    width: 100%;
}

/* ......................
     menu bar style
.............................. */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    height: 40;
    margin: 0px auto;

}

nav>ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* ......................
         brand style 
  ....................*/
.title-architects {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.brand-header {
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: 100px auto;

}

.brand-title {
    font-weight: 600;
    font-size: 60px;
    color: #131313;
    margin-bottom: 15px;
}

.brand-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

.button-primary {
    width: 100%;
    max-width: 135px;
    height: 50px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    margin-top: 25px;
}

/*Architects banner style */
.architects-bennar-photo img {
    display: block;
    margin: 25px auto;
    width: 100%;
    max-width: 1100px;

}

/* Quick-Feature style */

.quick-feature {
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 50px;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: 120px auto;

}

.quick-feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;


}

.quick-title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 24px;
}

.quick-description {
    color: #727272;
    margin-bottom: 24px;

}

/*    Love and Enjoy Feature style */

.love-enjoy-feature {
    display: flex;
    width: 100%;
    max-width: 1100px;
}

.feature-title {
    font-weight: 600;
    font-size: 40px;
    color: #131313;
}

.title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;

}

.description {
    color: #727272;
    font-size: 16px;
    margin-top: 10px;

}

.head-of-feature {
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;

}

.love-enjoy-feature-shadow div {

    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 100%;
    max-width: 500px;

    margin-bottom: 20px;
    padding: 20px;

}

.feature-title {
    border-left: 5px solid #FF900E;
    padding-left: 10px;

}

.love-enjoy-feature {
    margin: 100px auto 0px;
    gap: 31px;
    width: 100%;
    max-width: 1100px;


}

.love-enjoy-feature-img img {
    height: 100%;
    max-height: 774px;

}

/*  Love and Enjoy Feature style   */
.button {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 120px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    margin-top: 30px;
    margin-left: 565px;


}

/*  Some Fact Style */

.some-fact {
    margin-left: 130px;
    margin-right: 700px;
    margin-top: 90px;
}

.fact-title {
    font-weight: 600;
    font-size: 35px;
    color: #131313;
    margin-bottom: 20px;
}

.fact-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

/* Icon Box Style */

.icon-box {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    margin: 70px auto 0px;
    grid-column-gap: 70px;


}

.icon-box div:hover {
    transform: rotate(5deg);
}

.icon-box div {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px 25px 40px 25px;
}

.icon-box img {
    width: 100%;
    max-width: 47px;
    height: 100%;
    max-height: 47px;
    margin-bottom: 7px;

}

.icon-box .number {
    font-weight: 600;
    font-size: 40px;
    color: #424242;
    margin-bottom: 7px;
}

.icon-box .icon-description {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

.benefits-architect {
    padding-left: 15px;
}

.benefits-architect>ul {
    list-style:decimal-leading;
    text-align: start;
    margin: 0px 400px;


}
.benefits-title {
    color: #131313;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
    text-align: center;
    
    
}

.benefits>li {
    margin-bottom: 10px;
    text-align: start;
    align-items: center;

}

.benefits-architect {
    margin: 100px auto;
    width: 100%;
    max-width: 1100px;

}



.benefits>li {
    margin-bottom: 10px;
    align-items: center;
    color: #727272;

}

/* Our Sponsors Style */
.sponsors-text {
    text-align: center;
    margin-top: 100px;
}

.sponsors-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponsors-description {
    font-size: 16px;
    color: #727272;
    width: 542px;
    text-align: center;
    align-items: center;
    margin: 21px auto;

}

/*   Sponsors Icon Style */
.sponsors-icon {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    justify-content: center;
    align-items: center;
    margin: 0px auto;
    mix-blend-mode: luminosity;
}

.sponsors-icon img {
    width: 100%;
    height: 100%;
    max-width: 165px;
    max-height: 50px;
    margin-top: 40px;
}

/* Copy Right Style */

.copyright {
    max-width: 1100px;
    background: #FFF4E7;
    border-radius: 8px;
    height: 80px;
    text-align: center;
    align-items: center;
    margin: 130px auto;
    padding-top: 30px;
}

.copyright-text {
    color: #424242;
    font-size: 20px;
}

/* Media Query */


@media screen and (max-width: 576px) {
    
    header{
        width: 100%;
       /* max-width: 410px; */
    }
    
    nav {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;
    }

    .brand-description {
        max-width: 0px;
    }

    .architects-bennar-photo img {
        padding: 0px 5px 0px 5px;
    }

    .quick-feature-img {
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;

    }

    .quick-feature-list {
        margin-top: 50px;
        padding: 10px;
    }

    .quick-feature {
        flex-direction: column;
    }

    .love-enjoy-feature {
        flex-direction: column;

    }

    .love-enjoy-feature-text {
        padding: 10px;
    }

    .love-enjoy-feature-img img {
        height: 550px;
        padding: 0px 25px 0px 0px;

    }

    .feature-description {
        margin-left: 10px;
    }

    .button {
        margin-left: 100px;
    }

    .some-fact {
        margin: 20px 0px 0px 10px;
    }

    .icon-box {
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;

    }

    .icon-box div {
        margin-top: 20px;
    }

    .sponsors-description {
        width: 400px;
        padding: 0px 5px 0px 5px;

    }

    .sponsors-icon {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 120px;
        width: 100%;


    }

    .copyright {
        
        margin-right: 5px;
        margin-left: 5px;

    }
    .benefits-title{
        width:100%;
        text-align: start;
    
    }
    .benefits-architect>ul{
        margin: 0px;
       list-style: none;
    }
}
.hide{
    display: none;
}